.c-ttlEnJp {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  b {
    font-size: 3.2rem;
    font-weight: normal;
    letter-spacing: .1em;
  }
  small {
    font-size: 1.6rem;
    font-weight: lighter;
  }
}

.f-ttlJpEn {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  small {
    font-size: 1.4rem;
    font-weight: lighter;
  }
  b {
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: .05em;
  }
}